<!DOCTYPE html>
<html ng-app="stocksApp">
<head>
  <title>Shuffstocks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="nav-bar">
    <h1>Shuff Stocks</h1>
    <ul>
      <li>Links</li><li>Coming</li><li>Very</li><li>Soon</li>
    </ul>
  </div>
<%= yield %>

</body>
</html>
