// Place all the styles related to the Stocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	position: relative;
	font-family: Arial;
}

h1 {
	margin: 0;
}

.nav-bar {
	background-color: #4aa6e2;
	text-align: center;
	background: -webkit-linear-gradient(bottom, #4aa6e2, #B0D8F2);
	background: -moz-linear-gradient(bottom, #4aa6e2, #B0D8F2);
	background: -o-linear-gradient(bottom, #4aa6e2, #B0D8F2);
	background: -ms-linear-gradient(bottom, #4aa6e2, #B0D8F2);
	background: linear-gradient(bottom, #4aa6e2, #B0D8F2);
}

.nav-bar ul {
	border-top: .1em solid black;
	padding: 0;
	margin: 0;
	overflow: auto;
}

.nav-bar ul li{
	background: -webkit-linear-gradient(bottom, #4aa6e2, #B0D8F2);
	background: -moz-linear-gradient(bottom, #4aa6e2, #B0D8F2);
	background: -o-linear-gradient(bottom, #4aa6e2, #B0D8F2);
	background: -ms-linear-gradient(bottom, #4aa6e2, #B0D8F2);
	background: linear-gradient(bottom, #4aa6e2, #B0D8F2);
	font-weight: 600;
	display: inline-block;
	list-style: none;
	padding: 1em;
	width: 4em;
	border-left: .1em solid black;
}

.nav-bar ul li:last-child{
	border-right: .1em solid black;
}



.nav-bar h1 {
	color: black;
	font-size: 50px;
	margin-bottom: 0;
}

.home {
	text-align: center;
}


.stock-form {
	width: 46.5em;
	margin: 0 auto;
}

.stock-input {
	font-size: 60px;
	outline: none;
	margin-top: .5em;
	border-radius: 1em;
	padding: 0.3em 1em 0.3em 1em;
	text-align: center;
	border: none;
	background: -webkit-linear-gradient(bottom, #9BCEEF, #B0D8F2);
	background: -moz-linear-gradient(bottom, #9BCEEF, #B0D8F2);
	background: -o-linear-gradient(bottom, #9BCEEF, #B0D8F2);
	background: -ms-linear-gradient(bottom, #9BCEEF, #B0D8F2);
	background: linear-gradient(bottom, #9BCEEF, #B0D8F2);
}

.stock-form button{
	background: #B0D8F2;
	padding: .5em;
	margin-top: .5em;
	border-radius: 1em;
	font-size: 32px;
	border: .05em solid black;
	outline: none;
}

.stocks-container {
	border-radius: 1em;
	border: .1em solid #4391c1;
	box-shadow: 0em 0em .3em .2em #A8D5F1,
				0em 0em 0em .4em #4FA9E3;
	text-align: center;
	margin: 1em 1em 1em 1em;
	padding: 1em;
	background: -webkit-linear-gradient(bottom, #9BCEEF, #B0D8F2);
	background: -moz-linear-gradient(bottom, #9BCEEF, #B0D8F2);
	background: -o-linear-gradient(bottom, #9BCEEF, #B0D8F2);
	background: -ms-linear-gradient(bottom, #9BCEEF, #B0D8F2);
	background: linear-gradient(bottom, #9BCEEF, #B0D8F2);
}

.stocks-container h2 {
	color: white;
	font-size: 40px;
	font-weight: bold;
	display: inline-block;
	border-bottom: .05em solid white;
	margin: 0 auto;
}

.header-bar {
	width: 100%;
	display: block;
}


.left-container {
	float: left;
	width: 55em;
	overflow: auto;
}

.left-container ul {
	list-style: none;
	font-size: 32px;
}

.item-panel {
	box-shadow: 0em 0em .3em .1em #A8D5F1,
				0em 0em 0em .2em #4FA9E3;
	border: .1em solid #A8D5F1;
	display: inline-block;
	padding: 1em;
	margin: .5em;
	border-radius: 1em;
	background: -webkit-linear-gradient(bottom, #F0F7FC, white);
	background: -moz-linear-gradient(bottom, #F0F7FC, white);
	background: -o-linear-gradient(bottom, #F0F7FC, white);
	background: -ms-linear-gradient(bottom, #F0F7FC, white);
	background: linear-gradient(bottom, #F0F7FC, white);
}

.right-container {
	float: right;
	width: 35em;
	position: absolute;
	right: 0em;
}

.iframe-container {
	display: inline-block;
	background-color: blue;
	height: 55em;
	width: 55em;
	float: left;
	clear: left;
}

.iframe-container iframe {
	width: 90%;
	height: 46em;
	padding-top: 1em;
	border: .1em solid black;
	margin-top: 2em;
}