<div class="home" ng-controller="stocksCtrl">

<form class="stock-form">
	<input class="stock-input" value="I.E. Aapl" ng-model="stockSubmission">
	<button ng-click="submit(stockSubmission)">Submit</button>
</form>
<div class="stocks-container left-container">
	<div class="header-bar"><h2 class="input-header"> You have {{stocksArray.length}} stock(s) to watch. </h2></div>
	<ul>
		<li ng-click="reassign(stock)" class="item-panel" ng-repeat="stock in stocksArray">{{stock.name}}</li>
	</ul>
</div>

<div class="stocks-container right-container">
	<h2>News</h2>
<div id="stock-news" ng-repeat="item in currentItem.newsArticles">
	<article class="stocks-container item-panel">
		<a target="_"><h3 ng-click="iframeUrl(item.link)">{{item.title}}<h3></a>
	<article>
</div>
</div>


</div>


