<div id="home" ng-controller="stocksCtrl">

<p> You have {{stocksArray.length}} stock(s) to watch. <p>

<ul>
<li ng-repeat="item in stocksArray">
	<a ng-click="reassign(item)">{{item["name"]}}</a>
</li>
</ul>

<div id="stock_news">
<p>{{currentItem.news}}<p>
</div>

<input ng-model="stockSubmission">
<button ng-click="submit(stockSubmission)" class="btn btn-default">Submit</button>

</div>


