<div class="home" ng-controller="stocksCtrl">

<form class="stock-form">
<input class="stock-input" value="I.E. Aapl" ng-model="stockSubmission">
<button ng-click="submit(stockSubmission)">Submit</button>
</form>
<div class="stocks-container">
<h2 class="input-header"> You have {{stocksArray.length}} stock(s) to watch. </h2>

<ul>
<li ng-repeat="stock in stocksArray">
	<a ng-click="reassign(stock)">{{cons(stock); stock.name}}</a>
</li>
</ul>

</div>

<div id="stock-news" ng-repeat="item in currentItem.newsArticles">
	{{cons(item)}}
	<article>
		<a href={{item.link}} target="_"><h3>{{item.title}}<h3></a>
		<p>{{item.description}}</p>
	<article>
</div>


</div>


